
.cashon-mobiles{
    position: relative;
    /* text-align: center; */
    background-color: #fff;
    width: 100%;
    height: auto;
}
.cash-ul{
    text-align: center;
    padding: 15px;
    left: 50%;
    transform: translate(25%,0)
}
.cash-ul li{
    list-style-type: none;
    float: left;
    padding: 0px 6px;
    color:#999;
    font-size: 90%;
    text-align: center;
}
.cash-ul li a{
    color: #007BFF;
    cursor: pointer;
}
h2{
    font-size: 120%;
    font-weight: 500;
    text-align: center;
}
.cash-p{
    font-size: 90%;
    color: #999;
    text-align: center;
}
.cash-img{
    background-image: url('http://54.212.202.225/static/images/ce060c29_316a_4383_a43f_b4f9dcea5e05.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    width: 70%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    left: 10%;
    transform: translate(20%,0%)
}
.cash-text{
   margin: 40px;
}
h3{
    font-size: 110%;
    font-weight: 500;
    padding-left: 30px;
}