
<div class="navv">
  <nav class="navbar navbar-default navbar-back">
   <div class="w-control navbar-display">
    <img src="http://54.212.202.225/static/app/customer-panel/modules/assets/images/logo-png.png" width="200px" height="40px" class="img-fluid"> 
    <h3>Coupons</h3>
    <h3>Deals</h3>

    <div class="input-group">
    
      <input type="text" class="form-control" placeholder="Search Stories, Categories or Coupons">
    
    <span class="input-group-addon">Search</span>
    </div>

    <button class="btn btn-default">Login</button>
    
   </div> 

   
  </nav>

  <nav class="navbar navbar-default navbar-back1">
      <div class="w-control">
       <img src="http://54.212.202.225/static/app/customer-panel/modules/assets/images/logo-png.png" width="250px" height="90px" class="img-fluid"> 
       
      </div> 
    
      
     </nav>

  <div class="w-control">
  <nav class="navbar navbar-default navbar1">
   <ul class="navbar1-ul">
     <li>Top Stores&nbsp;<i class="fa fa-chevron-down"></i> </li>
     <li>Recharge Offers</li>
     <li>Food Offers</li>
     <li>Travels Offers</li>
     <li>Fashion Offers</li>
     <li>Bank Offers</li>
     <li>Exchange Offers</li>
     <li routerLink='/blog-articles/blog'>Blog</li>
   </ul>  
  </nav>

  <nav class="navbar navbar-default  visible-xs">
<div class="xs-device">
  <i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;
  <input type="text" class="form-control" placeholder="Search Stores, Categories or Coupons">
</div>
  </nav>
 
  </div>
 