<nav class="navbar  navbar-inverse bg-faded" style="background:#2F1231">
  <div class="container">
    
    <div class="col-lg-4 col-xs-12">
      <div class="logo"></div>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div class="input-group">
        <input  type="text" class="form-control" placeholder="Search for a store">
        <button class="input-group-addon btn btn-primary search"><span>Search</span></button>
      </div>
    </div>

    <div class="col-lg-2 col-xs-12">
        <button class="btn btn-default">Login</button>
      </div>


       <nav class="navbar  navbar-default bg-faded" style="background:#7E70A1">
      <ul class="nav-menu">
        
        <li class="dropdown mega-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Top Stores</a>
        <ul class="dropdown-menu mega-dropdown-menu">
          <div class="row">
         <div class="col-lg-4 col-md-4 col-xs-4">
          <ul class="mega"> 
            
            <p>Flipkart Coupons</p>
            <p>Netmeds Coupons</p>
            <p>Nykaa Coupons</p>
            <p>Ebay Coupons</p>
            
        </ul>
         </div>
         <div class="col-lg-4 col-md-4 col-xs-4">
          <ul class="mega"> 
            
            <p>Jabong Coupons</p>
            <p>Myntra Coupons</p>
            <p>Amazon Coupons</p>
            <p>Flintobox Coupons</p>
            
        </ul>
         </div>
         <div class="col-lg-4 col-md-4 col-xs-4">
          <ul class="mega"> 
            
            <p>Tata Cliq Coupons</p>
            <p>Paytm Coupons</p>
            <p>Paytm Movies Coupons</p>
            <p>View All Stores</p>
            
        </ul>
         </div>
          </div> 
        </ul>
        </li>
        <li>Recharge Offers</li>
        <li>Food Offers</li>
        <li>Travel Offers</li>
        <li>Fashion Offers</li>
        <li>Bank & Wallet Offers</li>
        <li>Exchange</li>
        <li>Blog</li> 
      </ul>
      </nav>  

  </div>
  </nav><br><br>