<body>

 <div class="w-control">
      
   <div class="blog-display">
     
      <div class="blog-container">
        <div class="blog-col">
       <div class="gig">
         <div class="gig-img"></div><br>
         <div class="gig-text">
          <h4>Fashion</h4> 
          <h2>Cashback On Mobiles & Laptops</h2>
          <p>Mon, 11 Sep 2017 15:13:38 GMT</p>
          <button class="btn btn-primary">Read More</button>
         </div>
       </div>
        
       <div class="gig">
         <div class="gig-img1"></div><br>
         <div class="gig-text">
          <h4>Fashion</h4> 
          <h2>Cashback On Mobiles & Laptops</h2>
          <p>Mon, 11 Sep 2017 15:13:38 GMT</p>
          <button class="btn btn-primary">Read More</button>
         </div>
       </div>
        </div>
      </div> 
    

   

      
     
   </div>
 </div>
</body>
