body{
    background-color: #F3F3F3;
    width: 100%;
    height: 100%;
}
.flip-copn li{
    float: left;
    list-style-type: none;
    padding: 2px 8px;
    font-size: 80%;
    color: #008CBA;
}
.flip-right{
    float: right;
    text-align: right
}
.flip-right p{
    font-size: 90%;
    color: #999
}
.flip-rat{
    border: 0.5px solid #ddd;
    width:110%;
    height: auto;
    background-color: white;
    text-align: center;
}
.flip-rat img{
     
    top: 10%;
    transform: translate(0%,20%) 
}

.social .icons{
    position: relative;
    text-align: center;
    background-color: black;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    
    
}
.social i{
    padding: 8px;
    font-size: 120%;
    color: #fff;
}

/* related store */
.related-store ul li{
    list-style-type: none;
    margin: 5px;
    
}
.related-store  p{
    
    border: 0.5px solid #ddd;
    background-color: white;
    height: auto;
}
