<section class="footer"><br>
  <div class="w-control">
    <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12 img-p">
     <img src="http://54.212.202.225/static/app/customer-panel/modules/assets/images/logo-png.png" width="300px" height="100px" class="img-fluid">
     <p>Search The Biggest Database of coupons on the planet,
      Connect with friends with our coupons apps.</p>
    </div>

    <div class="col-lg-2 col-md-2 col-xs-12">
        <ul>
          <h4>Quick Links</h4>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Login</li>
          <li>Register</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-12">
          <ul>
            <h4>TOP STORES</h4>
            <li>IRCTC Offers</li>
            <li>Jio Money Offers</li>
            <li>Payzapp Offers</li>
            <li>Phonepe Offers</li>
            <li>Zomato Coupons</li>
            <li>Starquik Coupons</li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 social-heading">
            
              <h4>FabPromo Premier</h4>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your Email">
                <span class="input-group-addon">SUBMIT</span>
              </div><br>
              <p>You can opt out of our news letters at any time. See our Privacy Policy</p>
             
              <li><i class="fa fa-facebook icons"></i></li>
              <li><i class="fa fa-twitter icons"></i></li>
              <li><i class="fa fa-youtube icons"></i></li>
              <li><i class="fa fa-instagram icons"></i></li>
              <li><i class="fa fa-pinterest icons"></i></li>
             
          </div>
    </div><hr>
    <div class="copy-rights">
      <p>2017 Copyright © FabPromo Inc. All Rights Reserved.</p>

      <li>About</li>
      <li>Contact Us</li>
      <li>Sitemap</li>
    </div>
  </div><br>

  
  
</section>