body{
    background-color: #F3F3F3;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.footer{
    width: 100%;
    background-color: #222;
    height: 60vh;
}
.footer hr{
    border-color: #322B2B
}
.img-p p{
    font-size: 80%;
    color: #636363;
}
.footer ul h4{
    font-size: 90%;
    font-weight: bold;
    color: #636363
}
.footer h4{
    font-size: 90%;
    font-weight: bold;
    color: #636363
}
.footer ul li{
    list-style-type: circle;
    color: #fff;
    font-size: 85%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: normal;
}
.footer .icons{
    position: relative;
    text-align: center;
    background-color: #000;
    border-radius: 5px;
    width: 35px;
    height: 20%;
    font-size: 90%;
   
}

.footer i{
    padding: 10px;
    font-size: 120%;
    color: #999;
}
.footer .fa-facebook:hover{
    background-color: rgb(36, 48, 102);
    color: white;
    cursor: pointer
}
.footer .fa-twitter:hover{
    background-color: rgb(54, 181, 231);
    color: white;
    cursor: pointer
}
.footer .fa-youtube:hover{
    background-color: rgb(211, 47, 47);
    color: white;
    cursor: pointer
}
.footer .fa-instagram:hover{
    background-color: rgb(36, 113, 185);
    color: white;
    cursor: pointer
}
.footer .fa-pinterest:hover{
    background-color: rgb(36, 113, 185);
    color: white;
    cursor: pointer
}
.social-heading .input-group-addon{
    background-color: #7E3F9D;
    color: white;
    font-size: 90%;
    border-color: transparent;
    border-radius: 0px;
}
.social-heading .input-group{
    width: 250px;
    height: 30px;
}
.social-heading .form-control{
    border-radius: 0px;
    font-size: 90%;
}
.social-heading p{
    font-size: 90%;
    color: #636363
}
.social-heading li{
    float: left;
    list-style-type: none;
    padding: 0px 5px;
}
.copy-rights p,li{
font-size: 90%;
color: #636363;
}
.copy-rights li{
    float: left;
    list-style-type: none;
    padding: 0px 5px;
}

@media screen and (min-width:220px) and (max-width:740px) {
    .w-control{
        width: 330px;
        margin: 0 auto;
    }
    .footer{
        width: 100%;
        background-color: #222;
        height: auto;
    }
}