<body>
  <app-header></app-header>
<div class="home-down">
  <div class="w-control">
    <div class="row img-display">
      <div class="col-lg-9 col-xs-12">
        <div  class="img-fluid img"></div>
      </div>

      <div class="col-lg-3 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
        <img src="../assets/images/sale.jpg" class="img-fluid" style="width:92%">
          </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
          <img src="../assets/images/diwali.jpg" class="img-fluid" style="width:92%">
            </div>
          </div><br>
          <div class="row">
              <div class="col-xs-12">
            <img src="../assets/images/holidays.jpg" class="img-fluid" style="width:92%">
              </div>
            </div>
      </div>
    </div>
  </div><br>  

  <!-- Stores -->
   <div class="w-control">
    <h3 class="stores-heading">Popular Stores</h3><br>
    <div class="home-container">
        <div class="home-col">
           
            <div routerLink='/flipkart-coupons' class="gig">
                <div class="ajio"></div>
                <!-- coupons-gig-hover -->
    <div class="gig-hover">
      <p>0 offers</p>
    </div>
            </div>
            <div class="gig">
                <div class="tata"></div>
            </div>
            <div class="gig">
                <div class="jabong"></div>
            </div>
            <div class="gig">
                <div class="zivame"></div>
            </div>
            <div class="gig">
                <div class="zoomcar"></div>
            </div>
            <div class="gig">
                <div class="wonderla"></div>
            </div>
            <div class="gig">
                <div class="ajio"></div>
            </div>
            <div class="gig">
                <div class="ajio"></div>
            </div>
           
          </div><br><br>
          

          <h3 class="stores-heading">Popular Categories</h3><br>
          <div class="home-col">
           
              <div routerLink='/category-mobile' class="gig">
                  <div class="ajio"></div>
              </div>
              <div class="gig">
                  <div class="ajio"></div>
              </div>
              <div class="gig">
                  <div class="ajio"></div>
              </div>
          </div><br><br>

          <h3 class="stores-heading online-shopping">Best Saving Online Shopping Coupons & Offers</h3><br>
          <div class="shopping-coupons">
            <div class="shop-coupons-padding">
              <div class="shopping-display">
                
               <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-book"></i></span>
                 <button class="btn btn-default">Top Coupons</button>
               </div>
                 
                <div class="input-group">
                    <span class="input-group-addon addon-color"><i class="fa fa-book"></i></span>
                    <button class="btn btn-default">Most Used Coupons</button>
                  </div>

                  <div class="input-group">
                      <span class="input-group-addon addon-color1"><i class="fa fa-book"></i></span>
                      <button class="btn btn-default">Recently Used Coupons</button>
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon addon-color2
                        
                        "><i class="fa fa-book"></i></span>
                        <button class="btn btn-default">Last Minute Deals</button>
                      </div>     
                 
              </div> 
              </div>
            </div><br>
            <h3 class="stores-heading">Top Deal Of The Week</h3><br>
<div class="deals-div-container">
            <div class="deals-div-gig-row">
              <div class="gig">
                <div class="gig-padding">
               <div class="gig-img">
                 <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
               </div>
      
               <div class="gig-text"></div>
                  
               <h3>Moto G5 Deal</h3>
      
               <div class="view-deal">
                 <div class="raty1">
                  <div class="raty"></div><br>
                   <h4>Rs.1000</h4>
                   <del><p>Rs.2000</p></del>
                 </div>
      
                 <p class="p-deal">View Deal</p>
                 
               </div>
              </div>
               <div class="deal-div-bottom">
                  <p>GET DEAL</p>
                  </div>
              
              </div>
      
              <div class="gig">
                  <div class="gig-padding">
                 <div class="gig-img">
                   <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
                 </div>
        
                 <div class="gig-text"></div>
                    
                 <h3>Moto G5 Deal</h3>
        
                 <div class="view-deal">
                   <div class="raty1">
                    <div class="raty"></div><br>
                     <h4>Rs.1000</h4>
                     <del><p>Rs.2000</p></del>
                   </div>
        
                   <p class="p-deal">View Deal</p>
                   
                 </div>
                </div>
                 <div class="deal-div-bottom">
                    <p>GET DEAL</p>
                    </div>
                
                </div>
      
                <div class="gig">
                    <div class="gig-padding">
                   <div class="gig-img">
                     <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
                   </div>
          
                   <div class="gig-text"></div>
                      
                   <h3>Moto G5 Deal</h3>
          
                   <div class="view-deal">
                     <div class="raty1">
                      <div class="raty"></div><br>
                       <h4>Rs.1000</h4>
                       <del><p>Rs.2000</p></del>
                     </div>
          
                     <p class="p-deal">View Deal</p>
                     
                   </div>
                  </div>
                   <div class="deal-div-bottom">
                      <p>GET DEAL</p>
                      </div>
                  
                  </div>
      
                  <div class="gig">
                      <div class="gig-padding">
                     <div class="gig-img">
                       <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
                     </div>
            
                     <div class="gig-text"></div>
                        
                     <h3>Moto G5 Deal</h3>
            
                     <div class="view-deal">
                       <div class="raty1">
                        <div class="raty"></div><br>
                         <h4>Rs.1000</h4>
                         <del><p>Rs.2000</p></del>
                       </div>
            
                       <p class="p-deal">View Deal</p>
                       
                     </div>
                    </div>
                     <div class="deal-div-bottom">
                        <p>GET DEAL</p>
                        </div>
                    
                    </div>

                    <div class="gig">
                      <div class="gig-padding">
                     <div class="gig-img">
                       <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
                     </div>
            
                     <div class="gig-text"></div>
                        
                     <h3>Moto G5 Deal</h3>
            
                     <div class="view-deal">
                       <div class="raty1">
                        <div class="raty"></div><br>
                         <h4>Rs.1000</h4>
                         <del><p>Rs.2000</p></del>
                       </div>
            
                       <p class="p-deal">View Deal</p>
                       
                     </div>
                    </div>
                     <div class="deal-div-bottom">
                        <p>GET DEAL</p>
                        </div>
                    
                    </div>

                    <div class="gig">
                      <div class="gig-padding">
                     <div class="gig-img">
                       <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
                     </div>
            
                     <div class="gig-text"></div>
                        
                     <h3>Moto G5 Deal</h3>
            
                     <div class="view-deal">
                       <div class="raty1">
                        <div class="raty"></div><br>
                         <h4>Rs.1000</h4>
                         <del><p>Rs.2000</p></del>
                       </div>
            
                       <p class="p-deal">View Deal</p>
                       
                     </div>
                    </div>
                     <div class="deal-div-bottom">
                        <p>GET DEAL</p>
                        </div>
                    
                    </div>
             
              </div>
              </div><br>
            
    </div>

    
    

    <div class="top-stores"><br>
      <h3 class="stores-heading">More Top Stores</h3><br><br>
     
        <li>Flipkart</li>
        <li>Snapdeal</li>
        <li>Bata</li>
        <li>Voonik</li>
        <li>Voxpop</li>
        <li>Ajio</li>
      <br>
      </div>

              
  </div>

  
  


   
            
  
</div>
</body>