<body>
  <app-header></app-header>

  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xs-12">
        <div  class="img-fluid img"></div>
      </div>

      <div class="col-lg-3 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
        <img src="../assets/images/sale.jpg" class="img-fluid" style="width:92%">
          </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
          <img src="../assets/images/diwali.jpg" class="img-fluid" style="width:92%">
            </div>
          </div><br>
          <div class="row">
              <div class="col-xs-12">
            <img src="../assets/images/holidays.jpg" class="img-fluid" style="width:92%">
              </div>
            </div>
      </div>
    </div>
  </div><br>

  <!-- Stores -->
   <div class="container">
    <h3>Popular Stores</h3>
    <div class="row">
    <div class="col-lg-2 col-xs-12">
    <div class="store">
      <div class="ajio"></div>
    </div>
    </div>  

    <div class="col-lg-2 col-xs-12">
        <div class="store">
          <div class="tata"></div>
        </div>
        </div>  

    <div class="col-lg-2 col-xs-12">
         <div class="store">
           <div class="jabong"></div>
          </div>
    </div>  

    <div class="col-lg-2 col-xs-12">
        <div class="store">
          <div class="zivame"></div>
        </div>
        </div>  

    <div class="col-lg-2 col-xs-12">
         <div class="store">
           <div class="zoomcar"></div>
         </div>
    </div>   
    
    <div class="col-lg-2 col-xs-12">
        <div class="store">
          <div class="wonderla"></div>
        </div>
    </div>  
    </div>

    <div class="row">
        <div class="col-lg-2 col-xs-12">
        <div class="store">
          <div class="ajio"></div>
        </div>
        </div>  
    
        <div class="col-lg-2 col-xs-12">
            <div class="store">
              <div class="tata"></div>
            </div>
            </div>  
    
        <div class="col-lg-2 col-xs-12">
             <div class="store">
               <div class="jabong"></div>
              </div>
        </div>  
    
        <div class="col-lg-2 col-xs-12">
            <div class="store">
              <div class="zivame"></div>
            </div>
            </div>  
    
        <div class="col-lg-2 col-xs-12">
             <div class="store">
               <div class="zoomcar"></div>
             </div>
        </div>   
        
        <div class="col-lg-2 col-xs-12">
            <div class="store">
              <div class="wonderla"></div>
            </div>
        </div>  
        </div>

        <div class="row">
            <div class="col-lg-2 col-xs-12">
            <div class="store">
              <div class="ajio"></div>
            </div>
            </div>  
        
            <div class="col-lg-2 col-xs-12">
                <div class="store">
                  <div class="tata"></div>
                </div>
                </div>  
        
            <div class="col-lg-2 col-xs-12">
                 <div class="store">
                   <div class="jabong"></div>
                  </div>
            </div>  
        
            <div class="col-lg-2 col-xs-12">
                <div class="store">
                  <div class="zivame"></div>
                </div>
                </div>  
        
            <div class="col-lg-2 col-xs-12">
                 <div class="store">
                   <div class="zoomcar"></div>
                 </div>
            </div>   
            
            <div class="col-lg-2 col-xs-12">
                <div class="store">
                  <div class="wonderla"></div>
                </div>
            </div>  
            </div>

            <div class="row">
                <div class="col-lg-2 col-xs-12">
                <div class="store">
                  <div class="ajio"></div>
                </div>
                </div>  
            
                <div class="col-lg-2 col-xs-12">
                    <div class="store">
                      <div class="tata"></div>
                    </div>
                    </div>  
            
                <div class="col-lg-2 col-xs-12">
                     <div class="store">
                       <div class="jabong"></div>
                      </div>
                </div>  
            
                <div class="col-lg-2 col-xs-12">
                    <div class="store">
                      <div class="zivame"></div>
                    </div>
                    </div>  
            
                <div class="col-lg-2 col-xs-12">
                     <div class="store">
                       <div class="zoomcar"></div>
                     </div>
                </div>   
                
                <div class="col-lg-2 col-xs-12">
                    <div class="store">
                      <div class="wonderla"></div>
                    </div>
                </div>  
                </div>

                <div class="row">
                    <div class="col-lg-2 col-xs-12">
                    <div class="store">
                      <div class="ajio"></div>
                    </div>
                    </div>  
                
                    <div class="col-lg-2 col-xs-12">
                        <div class="store">
                          <div class="tata"></div>
                        </div>
                        </div>  
                
                    <div class="col-lg-2 col-xs-12">
                         <div class="store">
                           <div class="jabong"></div>
                          </div>
                    </div>  
                
                    <div class="col-lg-2 col-xs-12">
                        <div class="store">
                          <div class="zivame"></div>
                        </div>
                        </div>  
                
                    <div class="col-lg-2 col-xs-12">
                         <div class="store">
                           <div class="zoomcar"></div>
                         </div>
                    </div>   
                    
                    <div class="col-lg-2 col-xs-12">
                        <div class="store">
                          <div class="wonderla"></div>
                        </div>
                    </div>  
                    </div>           
  </div><br> 

  


  <!-- Coupons -->
  <div class="container coupons">
    <h3>Best Saving Online Shopping Coupons & Offers</h3><br>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="offers">
          <div class="offers-text">
            <div class="vilara"></div><br>
            <h3 class="text">Upto 79% Off On Dress Materials</h3>

            <button class="btn btn-primary">Get Offer</button>
            <p><a href="#">View all Vilara Offers</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="offers">
            <div class="offers-text">
              <div class="faasas"></div><br>
              <h3 class="text">New Users Get 50% Cashback on First Order</h3>
  
              <button class="btn btn-primary">Get Offer</button>
              <p><a href="#">View all Vilara Offers</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="offers">
              <div class="offers-text">
                <div class="revv"></div><br>
                <h3 class="text">New Users Get 50% Cashback on First Order</h3>
    
                <button class="btn btn-primary">Get Offer</button>
                <p><a href="#">View all Vilara Offers</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-xs-12">
              <div class="offers">
                <div class="offers-text">
                  <div class="fashion"></div><br>
                  <h3 class="text">New Users Get 50% Cashback on First Order</h3>
      
                  <button class="btn btn-primary">Get Offer</button>
                  <p><a href="#">View all Vilara Offers</a></p>
                </div>
              </div>
            </div>
    </div><br>


    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="offers">
            <div class="offers-text">
              <div class="vilara"></div><br>
              <h3 class="text">Upto 79% Off On Dress Materials</h3>
  
              <button class="btn btn-primary">Get Offer</button>
              <p><a href="#">View all Vilara Offers</a></p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="offers">
              <div class="offers-text">
                <div class="faasas"></div><br>
                <h3 class="text">New Users Get 50% Cashback on First Order</h3>
    
                <button class="btn btn-primary">Get Offer</button>
                <p><a href="#">View all Vilara Offers</a></p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-3 col-xs-12">
              <div class="offers">
                <div class="offers-text">
                  <div class="revv"></div><br>
                  <h3 class="text">New Users Get 50% Cashback on First Order</h3>
      
                  <button class="btn btn-primary">Get Offer</button>
                  <p><a href="#">View all Vilara Offers</a></p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="offers">
                  <div class="offers-text">
                    <div class="fashion"></div><br>
                    <h3 class="text">New Users Get 50% Cashback on First Order</h3>
        
                    <button class="btn btn-primary">Get Offer</button>
                    <p><a href="#">View all Vilara Offers</a></p>
                  </div>
                </div>
              </div>
      </div><br>


      <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="offers">
              <div class="offers-text">
                <div class="vilara"></div><br>
                <h3 class="text">Upto 79% Off On Dress Materials</h3>
    
                <button class="btn btn-primary">Get Offer</button>
                <p><a href="#">View all Vilara Offers</a></p>
              </div>
            </div>
          </div>
    
          <div class="col-lg-3 col-md-3 col-xs-12">
              <div class="offers">
                <div class="offers-text">
                  <div class="faasas"></div><br>
                  <h3 class="text">New Users Get 50% Cashback on First Order</h3>
      
                  <button class="btn btn-primary">Get Offer</button>
                  <p><a href="#">View all Vilara Offers</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="offers">
                  <div class="offers-text">
                    <div class="revv"></div><br>
                    <h3 class="text">New Users Get 50% Cashback on First Order</h3>
        
                    <button class="btn btn-primary">Get Offer</button>
                    <p><a href="#">View all Vilara Offers</a></p>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-3 col-xs-12">
                  <div class="offers">
                    <div class="offers-text">
                      <div class="fashion"></div><br>
                      <h3 class="text">New Users Get 50% Cashback on First Order</h3>
          
                      <button class="btn btn-primary">Get Offer</button>
                      <p><a href="#">View all Vilara Offers</a></p>
                    </div>
                  </div>
                </div>
        </div><br>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <div class="offers">
                <div class="offers-text">
                  <div class="vilara"></div><br>
                  <h3 class="text">Upto 79% Off On Dress Materials</h3>
      
                  <button class="btn btn-primary">Get Offer</button>
                  <p><a href="#">View all Vilara Offers</a></p>
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="offers">
                  <div class="offers-text">
                    <div class="faasas"></div><br>
                    <h3 class="text">New Users Get 50% Cashback on First Order</h3>
        
                    <button class="btn btn-primary">Get Offer</button>
                    <p><a href="#">View all Vilara Offers</a></p>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-3 col-xs-12">
                  <div class="offers">
                    <div class="offers-text">
                      <div class="revv"></div><br>
                      <h3 class="text">New Users Get 50% Cashback on First Order</h3>
          
                      <button class="btn btn-primary">Get Offer</button>
                      <p><a href="#">View all Vilara Offers</a></p>
                    </div>
                  </div>
                </div>
      
               
          </div>
    
  </div><br>

  <!-- Footer -->

  <section class="footer"><br>
    <div class="container">
      <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12">
        <ul>
          <h4>QUICK LINKS</h4>
          <li>All Stores</li>
          <li>All Categories</li>
          <li>Blog</li>
          <li>Sitemap</li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-xs-12">
          <ul>
            <h4>OUR LINKS</h4>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Login</li>
            <li>Register</li>
            <li>Privacy Policy</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-12">
            <ul>
              <h4>TOP STORES</h4>
              <li>IRCTC Offers</li>
              <li>Jio Money Offers</li>
              <li>Payzapp Offers</li>
              <li>Phonepe Offers</li>
              <li>Zomato Coupons</li>
              <li>Starquik Coupons</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-3 col-xs-12">
              
                <h4>FOLLOW US ON SOCIAL MEDIA</h4>
                <i class="fa fa-facebook icons"></i>
                <i class="fa fa-twitter icons"></i>
                <i class="fa fa-youtube icons"></i>
                <i class="fa fa-instagram icons"></i>
                <i class="fa fa-pinterest icons"></i>
            </div>
      </div>
    </div>
  </section>

  <section class="copy-right">

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
    <p>Copy Rights All Reserved 2016-2017</p>
    </div>
    </div>
    </div>
  </section>
  


</body>