<body>
    <app-header></app-header>
<div class="cat-down">
    <div class="w-control">
    <h3 class="stores-heading">All Categories</h3><br>
    <div class="category-ul">
      <li>all</li>
      <li>#</li>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>k</li>
      <li>l</li>
      <li>m</li>
      <li>n</li>
      <li>o</li>
      <li>p</li>
      <li>q</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>u</li>
      <li>v</li>
      <li>w</li>
      <li>x</li>
      <li>y</li>
      <li>z</li>
    </div>
    </div><br><br><br>
     
    <div class="w-control">
    <div class="category-container">
      <div class="category-row">
        <div class="cat-gig">
         <div class="cat-img-gig">
          <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
         </div>
         <div class="cat-text-gig">
         <p>Bank (1)</p>
         </div>
        </div>
        <div class="cat-gig">
            <div class="cat-img-gig">
             <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
            </div>
            <div class="cat-text-gig">
            <p>Bank (1)</p>
            </div>
           </div>
           <div class="cat-gig">
              <div class="cat-img-gig">
               <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
              </div>
              <div class="cat-text-gig">
              <p>Bank (1)</p>
              </div>
             </div>
             <div class="cat-gig">
                <div class="cat-img-gig">
                 <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
                </div>
                <div class="cat-text-gig">
                <p>Bank (1)</p>
                </div>
               </div>
               <div class="cat-gig">
                  <div class="cat-img-gig">
                   <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
                  </div>
                  <div class="cat-text-gig">
                  <p>Bank (1)</p>
                  </div>
                 </div>
                 <div class="cat-gig">
                    <div class="cat-img-gig">
                     <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
                    </div>
                    <div class="cat-text-gig">
                    <p>Bank (1)</p>
                    </div>
                   </div>
                   <div class="cat-gig">
                      <div class="cat-img-gig">
                       <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
                      </div>
                      <div class="cat-text-gig">
                      <p>Bank (1)</p>
                      </div>
                     </div>
                     <div class="cat-gig">
                        <div class="cat-img-gig">
                         <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
                        </div>
                        <div class="cat-text-gig">
                        <p>Bank (1)</p>
                        </div>
                       </div>
                       <div class="cat-gig">
                          <div class="cat-img-gig">
                           <img src="http://54.212.202.225/static/images/98af4d1e_a563_44b6_8dc9_364113117d4d.jpeg" width="100%" height="80%"> 
                          </div>
                          <div class="cat-text-gig">
                          <p>Bank (1)</p>
                          </div>
                         </div>
                         
                         
      </div>
    </div>
</div>
    </div><br><br>
   


</body>
