<body>
  <app-header></app-header>

  <div class="w-control">
    <div class="editor-deal-test"><br>
     <ul class="editor-ul">
       <li><a>Home</a></li>
       <li>/</li>
       <li><a>Deals</a></li>
       <li>/</li>
       <li><a>Mobile</a></li>
       <li>/</li>
       <li>editor deal test</li>
     </ul> 

    <div class="editor-div">
      <div class="editor-img-div">
      <div class="editor-img"></div><br>
      <div class="editor-text">
          <div class="raty"></div>
          <p>345/5 Based on 362 Votes</p>
          </div>
      </div>

     
    
      <div class="editor-deal"><br>
        <h3>Ajio Deal</h3>
        <p>sdfsdfsd</p>
        <button class="btn btn-default">ACTIVATE OFFER &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
      </div>
      
    </div><br>
 </div>

 <!-- top stores -->
<div class="editor-stores">
    <h3>Ajio Deal</h3> 

    <button class="btn btn-primary"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back To Ajio Offers</button>
   </div><br>


<div class="row">
  <div class="col-lg-9 col-md-9 col-xs-12">
      <div class="menu-container">
          <div class="div-menu-col">
            <div class="gig">
               <div class="div-border">
                   <div class="div-text">
                   <div class="flat-of-div"> 
                    <div class="flat-off">
                    <div class="flat-off-text">
                      <h1>FLAT <br>50% OFF</h1> 
                    </div> 
                    <div class="flat-off-color">
                       <p>DEAL</p>
                    </div>
                    </div> 
                    </div>&nbsp;&nbsp;
          
                  
          
                    <div class="expiry"><br>
                      <h1>Online Shopping Deals, Offers June 2016</h1>
                      
                      <p><a>See All Mobiles Coupons</a></p>
                    </div>
                   </div> 
                   </div>
          
                   <div class="offer-div">
                     <ul>
                       <li class="offer-li1">GET OFFER<i class="fa fa-arrow-right"></i></li>
                     </ul>
                   </div>  
            </div>
   
            <div class="gig">
               <div class="div-border">
                   <div class="div-text">
                   <div class="flat-of-div"> 
                    <div class="flat-off">
                    <div class="flat-off-text">
                      <h1>FLAT <br>50% OFF</h1> 
                    </div> 
                    <div class="flat-off-color">
                       <p>DEAL</p>
                    </div>
                    </div> 
                    </div>&nbsp;&nbsp;
          
                  
          
                    <div class="expiry"><br>
                      <h1>Online Shopping Deals, Offers June 2016</h1>
                      
                      <p><a>See All Mobiles Coupons</a></p>
                    </div>
                   </div> 
                   </div>
          
                   <div class="offer-div">
                     <ul>
                       <li class="offer-li1">GET OFFER<i class="fa fa-arrow-right"></i></li>
                     </ul>
                   </div>  
            </div>
          </div>
        </div>

        
  </div>

  <div class="col-lg-3 col-md-3 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
           <div class="top-stores">

               <h3>Top Stores</h3>
            
           <div class="top-stores-padding">
           
         
            <div class="stores-flex">
              <div class="stores-col">
                 <div class="store-text">
                     
                <div class="gig">
                  
                   <img src="http://54.212.202.225/static/images/e7617e50_7a8b_4e71_9caf_94ba931edffa.jpeg" width="90%" height="80%" class="img-fluid">  
               
                
                </div>
                <p>Flipkart Coupons</p>
                </div>
         
                <div class="store-text">
                   
              <div class="gig">
                 <img src="http://54.212.202.225/static/images/e7617e50_7a8b_4e71_9caf_94ba931edffa.jpeg" width="90%" height="80%" class="img-fluid">  
              </div>
              <p>Flipkart Coupons</p>
              </div>
         
              <div class="store-text">
                
            <div class="gig">
              
               <img src="http://54.212.202.225/static/images/e7617e50_7a8b_4e71_9caf_94ba931edffa.jpeg" width="90%" height="80%" class="img-fluid">  
            
            
            </div>
            <p>Flipkart Coupons</p>
            </div>
              </div>
             
            </div>
           </div>
         </div>
        </div>
      </div> <br>

      <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
             <div class="top-stores">
  
                 <h3>Top Stores</h3>
              
             <div class="top-stores-padding">
             
           
              <div class="stores-flex">
                <div class="stores-col">
                   <div class="store-text">
                       
                  <div class="gig">
                    
                     <img src="http://54.212.202.225/static/images/e7617e50_7a8b_4e71_9caf_94ba931edffa.jpeg" width="90%" height="80%" class="img-fluid">  
                 
                  
                  </div>
                  <p>Flipkart Coupons</p>
                  </div>
           
                  <div class="store-text">
                     
                <div class="gig">
                   <img src="http://54.212.202.225/static/images/e7617e50_7a8b_4e71_9caf_94ba931edffa.jpeg" width="90%" height="80%" class="img-fluid">  
                </div>
                <p>Flipkart Coupons</p>
                </div>
           
                <div class="store-text">
                  
              <div class="gig">
                
                 <img src="http://54.212.202.225/static/images/e7617e50_7a8b_4e71_9caf_94ba931edffa.jpeg" width="90%" height="80%" class="img-fluid">  
              
              
              </div>
              <p>Flipkart Coupons</p>
              </div>
                </div>
               
              </div>
             </div>
           </div>
          </div>
        </div> 
     </div>
</div>
   <!-- <div class="editor-gigs">
     
      

<br>





   </div> -->
  </div><br>
</body>