<body>
<app-header></app-header><br>
<div class="deal-down">
<div class="w-control">
    <h3 class="stores-heading">Popular Categories</h3><br>
<div class="deals-container">
  <div class="deals-col">
    <div class="deals-div">
        <div class="deals-padding">
    <div class="deals-cat">
      
          <h1>Mobile</h1>
         
     
     
        <div class="img-border">
      <img src="http://54.212.202.225/static/images/470c32e6_40fd_4665_a93f_b89608fbcea1.jpeg" width="90px" height="60px">
      </div>
     

    </div>
    <p>See All Mobile Price List</p>
    </div>
  </div>  

    
  </div><br>

  <h3 class="stores-heading">Popular Brands</h3><br>

    <div class="deals-col">
      <div class="deals-div">
          <div class="deals-padding">
      <div class="deals-cat">
        
            <h1>Nokia</h1>
           
       
       
          <div class="img-border">
        <img src="http://54.212.202.225/static/images/7341407b_be45_4711_8852_6b5055816219.jpeg" width="90px" height="60px">
        </div>
       
  
      </div>
      <p>See All Nokia Price List</p>
      </div>
    </div>  
  
      
    </div><br>

    <h3 class="stores-heading">Best Selling Deals</h3><br>

    <div class="deals-div-container">
    <div class="deals-div-gig-row">
        <div class="gig">
          <div class="gig-padding">
         <div class="gig-img">
           <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
         </div>

         <div class="gig-text"></div>
            
         <h3>Moto G5 Deal</h3>

         <div class="view-deal">
           <div class="raty1">
            <div class="raty"></div><br>
             <h4>Rs.1000</h4>
             <del><p>Rs.2000</p></del>
           </div>

           <p class="p-deal">View Deal</p>
           
         </div>
        </div>
         <div class="deal-div-bottom">
            <p>GET DEAL</p>
            </div>
        
        </div>

        <div class="gig">
            <div class="gig-padding">
           <div class="gig-img">
             <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
           </div>
  
           <div class="gig-text"></div>
              
           <h3>Moto G5 Deal</h3>
  
           <div class="view-deal">
             <div class="raty1">
              <div class="raty"></div><br>
               <h4>Rs.1000</h4>
               <del><p>Rs.2000</p></del>
             </div>
  
             <p class="p-deal">View Deal</p>
             
           </div>
          </div>
           <div class="deal-div-bottom">
              <p>GET DEAL</p>
              </div>
          
          </div>

          <div class="gig">
              <div class="gig-padding">
             <div class="gig-img">
               <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
             </div>
    
             <div class="gig-text"></div>
                
             <h3>Moto G5 Deal</h3>
    
             <div class="view-deal">
               <div class="raty1">
                <div class="raty"></div><br>
                 <h4>Rs.1000</h4>
                 <del><p>Rs.2000</p></del>
               </div>
    
               <p class="p-deal">View Deal</p>
               
             </div>
            </div>
             <div class="deal-div-bottom">
                <p>GET DEAL</p>
                </div>
            
            </div>

            <div class="gig">
                <div class="gig-padding">
               <div class="gig-img">
                 <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
               </div>
      
               <div class="gig-text"></div>
                  
               <h3>Moto G5 Deal</h3>
      
               <div class="view-deal">
                 <div class="raty1">
                  <div class="raty"></div><br>
                   <h4>Rs.1000</h4>
                   <del><p>Rs.2000</p></del>
                 </div>
      
                 <p class="p-deal">View Deal</p>
                 
               </div>
              </div>
               <div class="deal-div-bottom">
                  <p>GET DEAL</p>
                  </div>
              
              </div>
              
       
        </div>
        <br>

        <h3 class="stores-heading">Upcoming Deals</h3><br>

    <div class="deals-div-gig-row">
        <div class="gig">
          <div class="gig-padding">
         <div class="gig-img">
           <img src="http://54.212.202.225/static/images/74eef82d_a47f_4c45_b0bf_a8feda1e1b0b.jpeg" class="img-fluid">
         </div>

         <div class="gig-text"></div>
            
         <h3>Moto G5 Deal</h3>

         <div class="view-deal">
           <div class="raty1">
            <div class="raty"></div><br>
             <h4>Rs.1000</h4>
             <del><p>Rs.2000</p></del>
           </div>

           <p class="p-deal">View Deal</p>
           
         </div>
        </div>
         <div class="deal-div-bottom">
            <p>GET DEAL</p>
            </div>
        
        </div>
       
        </div>
        </div><br>

        <h3 class="stores-heading">Most Discount Coupons And Offers Stores</h3><br>
        <div class="home-container">
        <div class="home-col">
           
            <div routerLink='/flipkart-coupons' class="gig">
                <div class="ajio"></div>
                <!-- coupons-gig-hover -->
    <!-- <div class="gig-hover">
      <p>0 offers</p>
    </div> -->
            </div>
            <div class="gig">
                <div class="tata"></div>
            </div>
            <div class="gig">
                <div class="jabong"></div>
            </div>
            <div class="gig">
                <div class="zivame"></div>
            </div>
            <div class="gig">
                <div class="zoomcar"></div>
            </div>
            <div class="gig">
                <div class="wonderla"></div>
            </div>
            <div class="gig">
                <div class="ajio"></div>
            </div>
            <div class="gig">
                <div class="ajio"></div>
            </div>
           
          </div>
          </div>
        <!-- <div class="stores-display">
   
            <div class="store">
              <div class="ajio"></div>
            </div>
           
        
           
                <div class="store">
                  <div class="tata"></div>
                </div>
               
        
           
                 <div class="store">
                   <div class="jabong"></div>
                  </div>
           
        
           
                <div class="store">
                  <div class="zivame"></div>
                </div>
               
        
            
                 <div class="store">
                   <div class="zoomcar"></div>
                 </div>
            
            
            
                <div class="store">
                  <div class="wonderla"></div>
                </div>
            
            </div> -->
  
</div><br>


</div><br><br>


</div><br><br>


</body>
